body{
  background: deepskyblue;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Space between the SVGs */
}

div svg {
  /* Force each SVG to have the same width */
  width: 20vw;
  /* Set height to auto so aspect ratio is preserved */
  height: auto;
}


  /* This ensures the arm inverts the colors behind it */
    .arm {
      mix-blend-mode: difference;
      fill: deepskyblue;
      
    }
.head{
  
  fill: #ffd700;
}
.torso {
  fill: #ffd700;
}

.monitorUp, .monitorDown {
    stroke: #ffd700;
  
}

.arrowUp, .arrowDown{

stroke: #FF18FF;
  
}
svg {
  border-radius: 20px 20px 20px 20px
}